## ignored editor stuff
*~
*.save

# ignored debian $foo
/debian/paintitblack-*/
/debian/patience-*/

/debian/files
/debian/debhelper-build-stamp
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/tmp

