[Unit]
Description=XFCE cheatcodes in live media
ConditionPathExists=/usr/share/paintitblack-xfce-settings/
After=paintitblack-common-setting.service

[Service]
Type=oneshot
ExecStart=/usr/share/paintitblack-xfce-settings/xfce-cheatcodes start

[Install]
WantedBy=graphical.target
