Source: paintitblack-lightdm-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: http://bugs.siduction.org/projects/siduction-settings
Vcs-Git: git://git.siduction.org/code/siduction-settings.git
Vcs-Browser: http://git.siduction.org/?p=code/siduction-settings.git;a=summary


Package: paintitblack-lightdm-gtk-settings
Architecture: all
Pre-Depends: lightdm,
             lightdm-gtk-greeter
Depends: ${misc:Depends}
Description: LightDM GTK settings in installed mode
 add description here

Package: paintitblack-lightdm-gtk-livesettings
Architecture: all
Pre-Depends: paintitblack-lightdm-gtk-settings,
             libpam-systemd,
             gnome-icon-theme,
             gnome-icon-theme-symbolic
Depends: ${misc:Depends}
Description: LightDM GTK settings in live mode
 Meta-Package

# LightDM KDE
Package: paintitblack-lightdm-kde-settings
Architecture: all
Pre-Depends: lightdm,
             lightdm-kde-greeter
Depends: ${misc:Depends}
Description: LightDM GTK settings in installed mode
 add description here

Package: paintitblack-lightdm-kde-livesettings
Architecture: all
Pre-Depends: libpam-systemd,
             gnome-icon-theme,
             gnome-icon-theme-symbolic,
             paintitblack-lightdm-kde-settings
Depends: ${misc:Depends}
Description: LightDM KDE settings in live mode
 add description here
