Source: paintitblack-gnome-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: http://bugs.siduction.org/projects/siduction-settings
Vcs-Git: git://git.siduction.org/code/siduction-settings.git
Vcs-Browser: http://git.siduction.org/?p=code/siduction-settings.git;a=summary

Package: paintitblack-gnome-settings
Architecture: all
Depends: ${misc:Depends},
         paintitblack-common-settings
Description: GNOME settings in installed mode
 Pushes GNOME overrides schemas in installed mode

Package: paintitblack-gnome-livesettings
Architecture: all
Depends: ${misc:Depends},
         sidu-installer (>= 2014.01.10),
         siduction-icons,
         paintitblack-gnome-artwork,
         paintitblack-gnome-settings,
         paintitblack-common-livesettings,
         paintitblack-sddm-livesettings
         | paintitblack-ligthdm-gtk-livesettings
         | paintitblack-gdm3-livesettings
Description: GNOME settings in live mode
 Pushes GNOME overrides schemas in live mode
