[Unit]
Description=Gnome cheatcodes in live media
ConditionPathExists=/usr/share/paintitblack-gnome-livesettings/
After=paintitblack-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/paintitblack-gnome-livesettings/gnome-cheatcodes start

[Install]
WantedBy=graphical.target
