[Desktop Entry]
Type=Application
Name=Screensaver
Name[de]=Bildschirmschoner
Comment=Launch screensaver and locker program
Comment[de]=Bildschirmschoner und Bildschirmsperrung starten
Icon=preferences-desktop-screensaver
Exec=xscreensaver -no-splash
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=false
