[Unit]
Description=Cinnamon cheatcodes in live media
ConditionPathExists=/usr/share/@CODENAME_SAFE@-cinnamon-livesettings/
After=@CODENAME_SAFE@-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/@CODENAME_SAFE@-cinnamon-livesettings/cinnamon-cheatcodes start

[Install]
WantedBy=graphical.target
