[Unit]
Description=Gnome cheatcodes in live media
ConditionPathExists=/usr/share/@CODENAME_SAFE@-gnome-livesettings/
After=@CODENAME_SAFE@-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/@CODENAME_SAFE@-gnome-livesettings/gnome-cheatcodes start

[Install]
WantedBy=graphical.target
