[Unit]
Description=LXDE cheatcodes in live media
ConditionPathExists=/usr/share/@CODENAME_SAFE@-lxde-livesettings/
After=@CODENAME_SAFE@-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/@CODENAME_SAFE@-lxde-livesettings/lxde-cheatcodes start

[Install]
WantedBy=graphical.target
