[Unit]
Description=LXQt cheatcodes in live media
ConditionPathExists=/usr/share/@CODENAME_SAFE@-lxqt-livesettings/
After=@CODENAME_SAFE@-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/@CODENAME_SAFE@-lxqt-livesettings/lxqt-cheatcodes start

[Install]
WantedBy=graphical.target
