[Unit]
Description=Mate cheatcodes in live media
ConditionPathExists=/usr/share/@CODENAME_SAFE@-mate-livesettings/
After=common-livesettings-@CODENAME_SAFE@.service

[Service]
Type=oneshot
ExecStart=/usr/share/@CODENAME_SAFE@-mate-livesettings/mate-cheatcodes start

[Install]
WantedBy=graphical.target
