[Unit]
Description=NOX cheatcodes in live media
ConditionPathExists=/usr/share/@CODENAME_SAFE@-nox-livesettings/
After=@CODENAME_SAFE@-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/@CODENAME_SAFE@-nox-livesettings/nox-cheatcodes start

[Install]
WantedBy=graphical.target
