[Unit]
Description=XFCE cheatcodes in live media
ConditionPathExists=/usr/share/@CODENAME_SAFE@-xfce-settings/
After=@CODENAME_SAFE@-common-setting.service

[Service]
Type=oneshot
ExecStart=/usr/share/@CODENAME_SAFE@-xfce-settings/xfce-cheatcodes start

[Install]
WantedBy=graphical.target
