Source: patience-nox-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 10),
               dh-systemd
Standards-Version: 4.1.2
Homepage: https://git.siduction.org/extra/siduction-nox
Vcs-Git: https://git.siduction.org/extra/siduction-nox.git
Vcs-Browser: https://git.siduction.org/extra/siduction-nox.git

# nox Settings
Package: patience-nox-settings
Architecture: all
Depends: ${misc:Depends},
         patience-common-settings
Description: provide default noX settings
 Provides default settings for appearance and applications of noX
 in siduction.
 .
 This overrides nox's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: patience-nox-livesettings
Architecture: all
Depends: ${misc:Depends},
         patience-common-livesettings,
         patience-nox-settings
Description: noX settings in live mode
 Provides default settings for appearance and applications in noX live mode.
