[Unit]
Description=NOX cheatcodes in live media
ConditionPathExists=/usr/share/giants-nox-livesettings/
After=cblues-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/giants-nox-livesettings/nox-cheatcodes start

[Install]
WantedBy=multi-user.target
