Source: paintitblack-common-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ferdinand Thommes <devil@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: http://bugs.siduction.org/projects/siduction-settings
Vcs-Git: git://git.siduction.org/code/siduction-settings.git
Vcs-Browser: http://git.siduction.org/?p=code/siduction-settings.git;a=summary

Package: paintitblack-common-settings
Architecture: all
Depends: ${misc:Depends},
         dconf-cli,
Breaks: siduction-settings-plank
Replaces: siduction-settings-plank
Description: Common settings in installed mode
 Some Common settings for the installed mode:
   * Trolltech.conf
   * gtk-2.0
   * gtk-3.0

Package: paintitblack-common-livesettings
Architecture: all
Depends: ${misc:Depends},
         adduser,
         fll-installer,
         libglib2.0-bin,
         gnome-icon-theme,
         gnome-icon-theme-symbolic,
         paintitblack-live-grub-theme,
         paintitblack-common-settings
Description: Common settings in live mode
 Pushes Common overrides schemas in live mode
