Source: paintitblack-sddm-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: http://bugs.siduction.org/projects/siduction-settings
Vcs-Git: git://git.siduction.org/code/siduction-settings.git
Vcs-Browser: http://git.siduction.org/?p=code/siduction-settings.git;a=summary


Package: paintitblack-sddm-settings
Architecture: all
Depends: ${misc:Depends},
         sddm
Description: SDDM settings in installed mode
 add description here

Package: paintitblack-sddm-livesettings
Architecture: all
Depends: ${misc:Depends},
         paintitblack-sddm-settings,
         sddm-theme-paintitblack,
         libpam-systemd,
         gnome-icon-theme,
         gnome-icon-theme-symbolic
Description: SDDM settings in live mode
 Meta-Package
