[Desktop Entry]
Type=Application
Name=Compton (X Compositor)
GenericName=X compositor
Comment=Compton X compositor
TryExec=compton
Exec=compton --dbus -b

# turned on by default
# Hidden=true
OnlyShowIn=LXDE;

