Source: paintitblack-kde-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ferdinand Thommes <devil@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: http://bugs.siduction.org/projects/siduction-settings
Vcs-Git: git://git.siduction.org/code/siduction-settings.git
Vcs-Browser: http://git.siduction.org/?p=code/siduction-settings.git;a=summary

Package: paintitblack-kde-settings
Architecture: all
Depends: ${misc:Depends},
         paintitblack-common-settings
Recommends: xdg-browser-launcher
Description: KDE settings in installed mode
 Provides default settings for appearance and applications of the K Desktop
 Environment.
 .
 This overrides KDE's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: paintitblack-kde-livesettings
Architecture: all
Depends: ${misc:Depends},
         kwin-x11 | kwin-wayland,
         plasma-workspace,
         sidu-installer (>= 2014.01.10),
         siduction-icons,
         paintitblack-kde-artwork,
         paintitblack-kde-settings,
         paintitblack-common-livesettings,
         paintitblack-sddm-livesettings
         | paintitblack-ligthdm-gtk-livesettings
         | paintitblack-gdm3-livesettings
Description: KDE settings in live mode
 Provides default settings for appearance and applications of the K Desktop
 Environment in live mode.
