Source: @CODENAME_SAFE@-@FLAVOUR@-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: http://bugs.siduction.org/projects/siduction-settings
Vcs-Git: git://git.siduction.org/code/siduction-settings.git
Vcs-Browser: http://git.siduction.org/?p=code/siduction-settings.git;a=summary

# NoX Settings
Package: @CODENAME_SAFE@-@FLAVOUR@-settings
Architecture: all
Depends: ${misc:Depends},
         @CODENAME_SAFE@-common-settings
Description: provide default @DISPLAY@ settings
 Provides default settings for appearance and applications of @DISPLAY@
 in siduction.
 .
 This overrides nox's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: @CODENAME_SAFE@-@FLAVOUR@-livesettings
Architecture: all
Depends: ${misc:Depends},
         @CODENAME_SAFE@-common-livesettings,
         @CODENAME_SAFE@-@FLAVOUR@-settings
Description: @DISPLAY@ settings in live mode
 Provides default settings for appearance and applications in @DISPLAY@ live mode.
